/* COLORS */

* {
  background:             #161616;
  background-transparent: #161616BB;
  background-alt:         #0C0C0CFF;
  foreground:             #FFFFFFFF;
  foreground-alt:         #010101FF;
  selected:               #7c94bfBB;
  active:                 #7c94bfBB;
  urgent:                 #F7768EFF;

}
