/*
Revdep config
*/
*{
    font-family: "JetBrains Mono Nerd Font","FontAwesome";
    font-size: 13px;
    min-height: 0;
}

window#waybar{
    background: #161616;
    color:#ffffff;
}

#custom-home{
    /* color: #6a9fb5; */
    margin: 0.5px 12px 0px 12px;
    font-size: 12px;
}

#workspaces{
    border-radius: 1px;
}

#workspaces button{
    min-width: 0;
    color: #656565;
    margin-right: 2px;
    border: 0px;
}

#workspaces button.active{
    color: #dde1e6;
}
#workspaces button.urgent {
    color: red;
}
#workspaces button:hover {
    /* color:rgb(12, 12, 12); */
    border-color: rgba(0,0,0,0);
    text-shadow: none;
}

tooltip {
     border: 3px solid #262626;
     background-color: #161616;
}

#pulseaudio{
    margin-right: 5px;
}
#custom-sysmenu{
    margin-right: 18px;
    color: #a87d7f;
}
